<?xml version="1.0"?>
<launch>
  <!-- Argument to specify the URDF file location -->
  <arg name="urdf_file" default="$(find robocane_manual)/robocane_env/robocane.urdf"/>
  <arg name="gui" default="true"/>


  <!-- Load the URDF into the parameter server -->
  <param name="robot_description" command="cat $(arg urdf_file)"/>

  <!-- Publish the robot state to TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="robot_description" command="cat $(arg urdf_file)"/>
  </node>

  <!-- Optionally spawn joint state publisher for interactive testing -->
<group if="$(arg gui)">
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen"/>
</group>

  
  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robocane_manual)/robocane_env/rviz_config/config.rviz" output="screen" />

</launch>

